$cor-preta: #000;
$cor-branca:white;
$cor-cinza:#404040;
$cor-cinza-claro:#959595;
$cor-cinza-normal:#828282;
$cor-cinza-transparencia:rgba(108, 117, 125, 0.50);
$cor-cinza-mais-claro:#D9D9D9;
$cor-azul:#0984E3;
$cor-laranja:#FF8600;
$cor-lilas:#758BFD;
$cor-roxa:#27187E;
$fonte-principal: "Inter", sans-serif;
$fonte-negrito:700;
$font-regular:400;

%posicionamento-flexivel{
    display: flex;
    align-items: center;
}
%tamanho-container-link{
    width: 32px;
    height: 32px;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $cor-preta;
    color:$cor-branca;
    font-family: $fonte-principal;
    font-weight: $fonte-negrito;
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100vh;
}

.cabecalho{
    @extend %posicionamento-flexivel;
    justify-content: flex-end;
    padding: 20px;
    gap: 20px;
}

aside{
    padding: 20px;
    background-color: $cor-cinza; //cor de fundo cinza

    .container_logo{
        @extend %posicionamento-flexivel;
        justify-content: flex-start;
    }
    .container_links ul li{
        @extend %posicionamento-flexivel;
        gap: 10px;

        .imagem_dashboard{
            @extend %tamanho-container-link;
            background-image: url(./imagens/bxs_dashboard.png);
            display: inline-block;
        }
        
        .imagem_lista{
            @extend %tamanho-container-link;
            background-image: url(./imagens/lista.png);
            display: inline-block;
        }
    }
    
}

a{
    text-decoration: none;
    color:$cor-branca;
    font-size: 16px;
    font-style: normal;
    font-weight: $font-regular;
}

h2{
    font-size: 48px;
    font-weight: $fonte-negrito;
}
table{
    margin-top: 40px;
    width:80% ;
    font-weight:$font-regular;
    text-align: left;
    border-collapse: collapse;
    caption{
        text-align: left;
        font-size: 18px;
        font-style:normal;
        font-weight: $fonte-negrito;
        line-height: 23px;
    }
}
.tabela{
    margin: 32px;
    p{
        font-size: 12px;
        font-weight: $fonte-negrito;
        color:$cor-cinza-claro;
        margin:5px;
     }
}

th{
    color:$cor-cinza-normal;
    font-size: 12px;
    font-style:normal;
    font-weight: $fonte-negrito;
    line-height: 23px;
   
}

td{
    padding: 10px 0;
    border-top: 1px solid $cor-cinza-transparencia;
    &:first-child{
        @extend %posicionamento-flexivel;
        gap: 10px;
    }
}

tr:hover{
    background-color: $cor-cinza-claro;
}


button{
    border-radius: 999px;
    background-color:$cor-azul;
    box-shadow: 0px 5px 15px 0px rgba(27,44,97,0.15),0px 2px 4px 0px rgba(136,144,194,0.20);
    padding: 10px 20px;
    border: none;
    color:$cor-branca;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.informacoes{
    background-color:$cor-cinza-mais-claro;
    border-radius: 28px;
    padding: 17px;
    h3{
        color: $cor-preta;
        font-size: 24px;
        font-weight: 600;
    }
    ul{
        display: flex;
        justify-content: space-between;

        li{
            text-align: center;
            padding: 10px;
            border-radius: 18px;
            list-style-type: none;
            width: 20%;
            box-shadow: 0px 4px 4px 0px rgba(0, 0,0,0.25);

            &:nth-child(1){
                background: $cor-laranja;
            } 
            &:nth-child(2){
                background-color: $cor-lilas;
            }  
            &:nth-child(3){
                background-color:$cor-roxa;
            }  
            p:first-of-type{
                font-size: 32px;
            }
            p:last-of-type{
                font-size:14px ;
                font-weight: $font-regular;
            }
        }
    
    }
}
 